<!-- Font Icon -->

<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/apibucket-frontend-v1.0.0/fonts/material-icon/css/material-design-iconic-font.min.css">

<!-- Main css -->
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/apibucket-frontend-v1.0.0/css/style.css">

<!-- Sign up form -->
<section class="signup">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title">Sign up</h2>
        <form (submit)="doSignUp()" class="register-form" id="login-form" ngNativeValidate>
          <div class="form-group">
            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" [(ngModel)]="userDetails.userName" name="userDetails.userName" id="userDetails.userName"
              placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <label for="email"><i class="zmdi zmdi-email"></i></label>
            <input type="email" [(ngModel)]="userDetails.userEmail" name="userDetails.userEmail" id="userDetails.userEmail"
              placeholder="Your Email" required>
          </div>
          <div class="form-group">
            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" [(ngModel)]="userDetails.userPassword" name="userDetails.userPassword" id="userDetails.userPassword"
              placeholder="Password" required>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
          </div>
        </form>
      </div>
      <div class="signup-image">

        <figure><img src="https://s3.ap-south-1.amazonaws.com/apibucket-frontend-v1.0.0/images/signup-image.jpg" alt="sing up image"></figure>
        <a routerLink="/signin" class="signup-image-link">I am already member</a>

      </div>
      <div *ngIf="isCreated">
        <h1>Created User Sucessfully</h1>
      </div>
    </div>
  </div>
</section>